<div class="row">
	<div class="col-md-12">
		<%unless @requests.empty?%>
<table class="table borderless">
				<tbody>
					<%@requests.each do |request|%>
						<%@start_time = request.learner.start_time%>
						<%@end_time = request.learner.end_time%>
					<tr>
						<td><%=request.learner.user.name%></td>
						<td><%=request.chapter.subject.name%> (Grade <%=request.learner.grade%>) - <%=request.chapter.name%></td>
						<td>Available between <%=request.learner.start_time.strftime('%H:%M')%> and <%=request.learner.end_time.strftime('%H:%M')%></td>
						<td>
						</td>
						<td>
							
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal_<%= request.id %>">
							  Accept Request
							</button>

							<!-- Modal -->
							<div class="modal fade" id="myModal_<%= request.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
								<div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel">Pick a date and a time</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							       	<%=form_for request do |f|%>
										<%=f.hidden_field :confirmed, value: true%>
										<%=f.text_field :date_time_of_class, class:"dateInit"%>
							      	<div class="modal-footer">
							        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<%=f.submit "Accept request", class:'btn btn-success'%>	
									<%end%>
							      </div>
							    </div>
							  </div>
							</div>


						</td>
					</tr>
					<%end%>
				</tbody>
			</table>
		<%else%>
			<h3>There are currently no learners requesting subjects that you are strong in. Would you like to <%=link_to "change your subjects",edit_educator_path(current_user.id)%></h3>
		<%end%>
	</div>
</div>

<script type="text/javascript">
	var format = 'yyyy-mm-dd';
	scheduleHandle = document.getElementByClassName('dateInit');
	// var Date = moment.tz("Asia/Kolkata").format();
	scheduleHandle.onclick = function (){
            $('#schedule_date_time_of_class').datetimepicker({
                inline: true,
                sideBySide: true,
                minDate: moment(),
                maxDate: moment().add(1, 'week'),
                // timeZone: "Asia/Kolkata"
            });
        };
</script>


