<%= form_for @user, :html => {:class => "form-horizontal center"}, validate: true do |f|%>
    <%if @user.errors.any?%>
    <ul>
      <%@user.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <%end%>
    </ul>
  <%end%>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div> 
  
  <%=f.hidden_field :role_id, value:2%>
  <%=f.hidden_field :organization_id, value:current_user.organization_id%>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>